@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font-normal: Arial, Helvetica, sans-serif;
    --font-robot: 'Roboto', sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
}
