@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #0000FF;
    --cor1: #3838FF;
    --cor3: #7070FF;
    --cor4: #FFFFFF;

    --font-normal: Arial, Helvetica, sans-serif;
    --font-robot: 'Roboto', sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
}
